/* Body selector */
body {
    background-color: #000000;
    margin: 0;
}

/* ID selectors */
#brand-name {
    width: 5rem;
    height: 2.75rem;
    border-radius: 20%;
    margin-left: 1.5rem;
    margin-bottom: 0.45rem;
}

/* Class selectors */

.bar-home {
    width: 30rem;
    height: 3rem;
}

.background-home {
    width: 100vw;
    height: 96vh;
    background-image: url('images/bkg-img.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    display: flex;
    filter: brightness(100%);
}

.btn-home {
    width: 4rem;
}

.div-center {
    justify-content: center;
    align-items: center;
    margin: auto;
    max-width: 60rem;
}

.cards-display {
    margin: 5rem 6rem;
}

.footer-home {
    color: white;
}

.img-home {
    display: block;
    width: 20rem;
    border-radius: 10%;
    margin: 4rem auto;
}

.search-bar {
    background-color: white;
}
.search-bar-big {
    margin: 1rem 3rem;
    display: block;
}

.search-bar::placeholder {
    color: black;
}

.search-btn:hover {
    background-color: #DBA506;
    border-color: black;
}
.search-form {
    margin-right: 3rem;
}

/* Favorites  */
.fav-list {
    color: white;
    width: 80vw;
    margin: 30px auto;
}

.fav-item {
    margin: 30px;
    display: grid;
    grid-template-columns: 0.2fr 0.8fr;
    grid-template-rows: 0.4fr 0.6fr;
    gap: 20px;
    height: 15rem;
}

.fav-item>img {
    grid-row: span 2;
    margin: 10px;
}

.fav-item>h6 {
    margin: 10px;
    font-size: 1.75rem;
    text-align: center;
}

.fav-item>p {
    margin: 10px;
    font-size: 1rem;
}

.favorite-active {
    background-color: #000000;
    color: #DBA506;
    border-color: #DBA506;
}

.fav-btn {
    position: absolute;
    bottom: 1.5rem;
    left: 1.5rem;
}

.movie-pic {
    height: 30rem;
    width: auto;
}
.fav-movie-pic {
    height: 14rem;
    width: auto;
}

#fav-heading {
    text-align: center;
    font-size: 3rem;
    color: aliceblue;
}

.card-body {
    height: 12rem;
}

/* Responsive CSS for small screens (e.g., mobile devices) */
@media screen and (max-width: 1000px) {
    .fav-list {
        width: 90vw;
    }
    .fav-item {
        border: 1px solid whitesmoke;
        margin: 3rem 1rem;
        grid-template-columns: 1fr;
        grid-template-rows: 0.3fr 0.7fr;
        height: auto;
        padding: 30px 10px;
        border-radius: 5%;
    }
    .fav-movie-pic {
        height: 18rem;
        margin: 0px auto !important;
    }
    .background-home {
        height: 96vh;
        background-size: cover;
    }
    
    .brand-img {
        text-align: center;
    }
    
    .img-home {
        margin: 3rem auto;
        width: 18rem;
    }

    .bar-home{
        max-width: 60vw;
    }
    .fav-item>p {
        text-align: center;
    }
    .cards-display {
        margin: 3rem 2rem;
    }
}

.invisible-button {
    background: transparent;
    border: none;
    color: transparent;
    color: gray;
}

.invisible-button:hover {
    color: white;
}

.home-link {
    text-decoration: none;
    color: gray;
    margin-right: 0.2rem;
    padding-top: 3rem !important;
}
.home-link:hover {
    color: white;
}


