<%- include("partials/header.ejs")%>
<div class="todo-list">
    <div class="list-cont">
        <h3 class="list-head">List</h3>
        <form action="/addToList" method="post">
            
            <div class="grid-container">
                <!-- Existing task  -->
                <input type="checkbox" class="card card-checkbox">
                <input type="text" class="form-control card card-textbox" >
                <div class="button-cards card">
                    <button type="button" class="edit"><i class="fa-solid fa-pen-to-square "></i></button>
                    <button type="button" class="delete"><i class="fa-solid fa-circle-xmark"></i></button>        
                </div>
                <!-- New item button -->
                <div class="new-item">
                    <button type="button" href="#" class="btn btn-dark"><i class="fa-solid fa-plus"></i> Add new item </button>
                    
                </div>
            </div>
    
        </form>
    </div>
    
</div>
<%- include("partials/footer.ejs") %>