body{
    background-color: #03001C !important;
    color: #B6EADA !important;
    margin: 0; 
}

form{
    display: grid;
}

footer{
    text-align: center;
}

#brand{
    color: #fff;
    text-decoration: none;
    font-size: 2.5rem;
    margin-left: 1rem;
}

/* NavBar classes */
.nav-link{
    margin-right: 2rem;
    font-size: 1.15rem !important;
}

.navbar{
    background-image: linear-gradient(to right, #140e25,#301E67);
}

/* ToDo list classes */

.button-cards{
    display: flex ;
    flex-direction: row !important;
    font-size: 1.5rem;
    text-align: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    background-color: #03001C !important;
}

.button-cards>button{
   width: 3rem;
   border-radius: 50%;
   margin: 0.4rem;
   border: 0;
}

.card-checkbox{
    border-radius: 100% !important;
    width: 50% !important;
    border-radius: 50% !important;
}

.card-textbox{
    background-color: #03001C !important;
    color: #fff !important;
    font-size: 1rem;
}

.delete{
    background-color: rgb(255, 106, 106);
}

.edit{
    background-color: rgb(165, 254, 75);
}

.grid-container{
    margin: 2rem;
    display: grid;
    grid-template-columns: 0.3fr 2fr 0.75fr;
    gap: 1.75rem;
}

.list-cont{
    border: 0.5rem #bca8fa solid;
    border-radius: 5%;
    width: 60%;
}

.list-head{
    background-image: linear-gradient(to right ,#120927,#ab90e1,#120927 );
    color: #03001C;
    text-align: center;
}

.new-item{
    grid-column: span 3;
    width: 100%;
    text-align: center;
}

.new-item>button{
    background-color: #301E67;
    width: 60%;
    font-size: 1.25rem !important;
}

.todo-list{
    margin: 2rem 0;
    display: flex;
    width: 100vw;
    align-items: center;
    justify-content: center;
    
}
