/* Dark mode styles */
body {
    text-align: center;
}

.dark-mode {
    background-color: #141E46;
    color: #FFF5E0;
}

.navbar-dark {
    background-color: #141E46 !important;
}

.card {
    background-color: #FFF5E0;
    color: #141E46;
    border: none;
}

.card-title {
    color: #141E46;
}

.card-text {
    color: #141E46;
}

.btn-primary {
    background-color: #BB2525;
    border: none;
    color: #FFF5E0;
}

.btn-primary:hover {
    background-color: #FF6969;
    color: #FFF5E0;
}

/* Style for dynamic card images */
.card-img-top {
    max-width: 100%; /* Ensure the image doesn't exceed the card width */
    height: auto; /* Automatically adjust the image height */
}
.cart-icon{
    z-index: 1;
    position: fixed;
    bottom: 30px;
    right: 20px;
    background-color: #141E46;
    padding: 10px 15px 15px 15px !important;
    margin: 0;
    border-radius: 100%;
}
.cart-icon:hover{
    z-index: 1;
    position: fixed;
    bottom: 30px;
    right: 20px;
    color: #141E46;
    background-color: #FFF5E0;
    padding: 10px 15px 15px 15px;
    justify-content: center;
    align-items: center;
    margin: 0;
    border-radius: 100%;
}
.profile-icon,
.cart-icon{
    color: white;
    padding-left: 1.5rem;
}
.total{
    margin: 20px 0 80px 0;
    width: 80vw;
}

.copyright-footer {
    font-size: 0.6rem;
    background-color: #FFF5E0;
    margin: auto 0 0 0; /* Push the footer to the bottom */
    padding: 2px;
    text-align: center;
}

/* Customize the rest of your styles as needed */
